# House-Price-Prediction-India
This Notebook uses ML-algorithms to train model and predict house prices in India.

![title](picture.jfif)

## 1. Problem Defination
Problem is to predict the house prices in india using patterns in datasets.

## 2. Data
Dataset has been taken from the Kaggle.

For more details follow the link https://www.kaggle.com/anmolkumar/house-price-prediction-challenge

## 3. Evaluation 
The goal is to train model so that it predicts with as higher accuracy as possible.

## 4. Features
* POSTED_BY   -	Category marking who has listed the property
* UNDER_CONSTRUCTION  -	Under Construction or Not
* RERA -	Rera approved or Not
* BHK_NO  - 	Number of Rooms
* BHKORRK  -	Type of property
* SQUARE_FT -	Total area of the house in square feet
* READYTOMOVE  -	Category marking Ready to move or Not
* RESALE  -	Category marking Resale or not
* ADDRESS  -	Address of the property
* LONGITUDE -	Longitude of the property
* LATITUDE -	Latitude of the property

### Exploring the data

In [4]:
# Importing the important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [5]:
# Importing train data as dataframe
df = pd.read_csv("datasets/train.csv")
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

###### Numerical variables

In [10]:
# Collecting all the numerical features
numerical_features = [feature for feature in df.columns if pd.api.types.is_numeric_dtype(df[feature])]
numerical_features

['UNDER_CONSTRUCTION',
 'RERA',
 'BHK_NO.',
 'SQUARE_FT',
 'READY_TO_MOVE',
 'RESALE',
 'LONGITUDE',
 'LATITUDE',
 'TARGET(PRICE_IN_LACS)']

In [12]:
# Collecting continuos numerical feature
continuous_num_features = [feature for feature in numerical_features if df[feature].unique()>25]
continuous_num_features

AttributeError: 'str' object has no attribute 'unique'